@import "./variables";

.little-brother-player-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: $wrapper-bg;

  &::after {
    content: "";
    padding-top: percentage($number: 9/16);
  }

  .little-brother-player,
  .little-brother-player-ui {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .little-brother-player {
    z-index: map-get($map: $layer, $key: player);
  }

  // Main UI
  .little-brother-player-ui {
    z-index: map-get($map: $layer, $key: player-ui);

    // Debug information
    .little-brother-player-ui-debug-panel {
      width: 100%;
      height: 100%;
      color: white;
      background-color: rgba($color: #000000, $alpha: .5);

      p {
        margin: 0;
        word-break: break-all;
      }
    }
  }

  // Bottom controller bar
  .little-brother-player-ctrl-bar {
    z-index: map-get($map: $layer, $key: player-ctrl);
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 2rem;
    background-color: $ctrl-bg;
    display: flex;
    align-content: center;
    align-items: center;
    color: #fff;
    cursor: pointer;

    .little-brother-player-ctrl-play {}

    .little-brother-player-ctrl-progressbar {
      position: absolute;
      bottom: 100%;
      left: 0;
      right: 0;
      height: .5rem;
      background-color: sandybrown;

      .little-brother-player-ctrl-progressbar-buffer {
        position: absolute;
        width: 0;
        height: inherit;
        background-color: greenyellow;
      }
    }
  }
}