@import "./variables";

body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
}

.little-brother-player-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: $bg-wrapper;
  font-size: $font-sm;

  * {
    box-sizing: border-box;
  }

  &::after {
    content: "";
    padding-top: percentage($number: 9/16);
  }

  //#region Playing status

  &:hover,
  &.playing-paused {
    .little-brother-player-ctrl-bar {
      opacity: 1;
    }
  }

  &.playing-error {}

  &.playing-image {

    .little-brother-player-video,
    .little-brother-player-ui {
      visibility: hidden;
    }
  }

  &.playing-video {

    .little-brother-player-video,
    .little-brother-player-ui {
      visibility: visible;
    }
  }

  &.playing-stream {
    .little-brother-player-ui {
      visibility: visible;
    }

    .little-brother-player-ctrl-progressbar,
    .little-brother-player-ctrl-playtime {
      visibility: hidden;
    }

  }

  //#endregion

  .little-brother-player-video-wrapper {
    z-index: map-get($map: $layer, $key: player);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    background-color: $bg-video-wrapper;
  }

  .little-brother-player-video-wrapper,
  .little-brother-player-video,
  .little-brother-player-ui {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .little-brother-player-video {}

  // Main UI
  .little-brother-player-ui {
    z-index: map-get($map: $layer, $key: player-ui);
    visibility: hidden;

    // Debug information panel
    &:hover {
      .little-brother-player-ui-debug-panel {
        background-color: rgba($color: #000000, $alpha: 0.5);
        opacity: 1;
      }
    }

    .little-brother-player-ui-debug-panel {
      width: 100%;
      height: 100%;
      padding: .3rem .5rem;
      overflow: hidden;
      border-radius: inherit;
      color: white;
      opacity: .4;
      transition: all .4s;

      p {
        margin: 0;
        word-break: break-all;
      }
    }

    // Right click menu
    .little-brother-player-ui-context-menu {
      z-index: map-get($map: $layer, $key: player-context-menu);
      position: absolute;
      display: none;
      padding: .3rem 0;
      overflow: hidden;
      background-color: $bg-context-menu;
      font-size: $font-xs;
      line-height: 2;
      color: white;
      white-space: nowrap;
      cursor: pointer;

      &.show {
        display: block;
      }

      >* {
        padding: .2rem .6rem;

        &:hover {
          background-color: $bg-context-menu-hover;
        }
      }
    }
  }

  // Bottom controller bar
  .little-brother-player-ctrl-bar {
    z-index: map-get($map: $layer, $key: player-ctrl);
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 2rem;
    line-height: 2rem;
    background-color: $bg-ctrl;
    color: #fff;
    cursor: pointer;
    opacity: 0;
    transition: opacity .4s;

    .little-brother-player-ctrl-bar-ctrls {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      display: flex;
      align-items: center;
      padding: 0 .2rem;
      height: inherit;
    }

    .little-brother-player-ctrl-bar-left,
    .little-brother-player-ctrl-bar-right {
      display: flex;

      >* {
        margin: 0 .2rem;
      }
    }

    .little-brother-player-ctrl-bar-left {}

    .little-brother-player-ctrl-bar-right {
      flex: 1;
      justify-content: flex-end;
    }

    // Progressbar
    .little-brother-player-ctrl-progressbar {
      position: absolute;
      bottom: 100%;
      left: 0;
      right: 0;
      height: .5rem;
      background-color: sandybrown;

      .little-brother-player-ctrl-progressbar-buffer {
        z-index: 1;
        position: absolute;
        width: 0;
        height: inherit;
        background-color: greenyellow;
      }

      .little-brother-player-ctrl-progressbar-progress {
        z-index: 2;
        position: absolute;
        width: 0;
        height: inherit;
        background-color: rgba($color: black, $alpha: .5);
      }

      .little-brother-player-ctrl-progressbar-ctrler {
        z-index: 3;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0
      }
    }

    // Play button
    .little-brother-player-ctrl-play {}

    // Volume
    .little-brother-player-ctrl-volume-wrapper {
      $volume-bar-width: 3rem;
      $volume-bar-height: $font-sm;

      display: flex;
      align-items: center;

      .little-brother-player-ctrl-volume-icon {}

      .little-brother-player-ctrl-volume {
        width: 0;
        overflow: hidden;
        transition: width .2s;

        &.show {
          width: $volume-bar-width;
        }

        .little-brother-player-ctrl-volume-bar {
          position: relative;
          width: $volume-bar-width;
          height: $volume-bar-height;
          background-color: #FFC107;
        }

        .little-brother-player-ctrl-volume-progress {
          z-index: 2;
          position: absolute;
          width: 0;
          height: inherit;
          background-color: #ff5722;
        }

        .little-brother-player-ctrl-volume-ctrler {
          z-index: 3;
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0
        }
      }
    }

  }
}