// background
$bg-wrapper: rgba(0, 0, 0, 0);
$bg-video-wrapper: rgba(0, 0, 0, .8);
$bg-video: rgba(0, 0, 0, 1);
$bg-ctrl: rgba(0, 0, 0, 0);
$bg-context-menu: rgba(0, 0, 0, 0.5);
$bg-context-menu-hover: rgba(0, 0, 0, 0.8);

// dom sizes
$ctrlbar-height: 2rem;

// z-index
$layer: ("player": 1,

  "player-ui": 2,
  "player-ctrl": 20,
  "player-context-menu": 21,

  "player-tooltip": 1000,
  "player-toast": 2000,
  "player-loading": 2010,

);

// font
$font-xl: 1.25rem; // 20
$font-lg: 1.125rem; // 18
$font-md: 1rem; // Normally 16px
$font-sm: .875rem; // 14
$font-xs: .75rem; // 12

// border-radius
$border-radius: .12rem;